@model blogg.Models.Blog
@*gönderdiğimiz veri olan urun turu "var" olduğu için View zaten tanıdı ama string [] , int olsaydı @model string[] vs.gibi tanımlayacaktık *@

<h1>Urun Listesi</h1>
<div>
    @Model.ID
    </div>

    
